
html {
  background-color: #252525;

}

body {
  background-color: #252525;
  width: 70%;
  margin: auto;
}

head {
  margin: auto;
  background-color: #252525;
}

h1 {
  color: #2b2525;
  background-color: #2b2525;
}


/* visited link */
