@font-face {
  font-family: SquadaOne;
  src: url("SquadaOne-Regular.ttf");
}


html {
  background-color: #2a2727;

}

body {
  background-color: #2a2727;
  width: 70%;
  margin: auto;
}

header {
  margin: auto;
  background-color: #2a2727;
}

h1 {
  color: #e2dfde;
  background-color: #2a2727;
  font-family: 'SquadaOne';
}

button {
  border: none;
  color: #e2dfde;
  background-color: #2a2727;
  font-family: 'SquadaOne';
  font-size: 20px;
}

.modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  width: 300px;
  /* height: 400px; */
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  text-align: center;
  font-family: 'SquadaOne';
}


p {
  background-color: #e2dfde
  color: #2a2727;
  position: center;
  margin: auto;
  padding: 20px;
  width: 80%;
  font-family: 'SquadaOne';

}



.modal_para {
  background-color: #e2dfde
  color: #2a2727;
  position: center;
  margin: auto;
  padding: 20px;
  width: 80%;
  font-family: 'Squada One', cursive;

}
